:root {
    --inc-darker-torquose:#0B423E;
    --inc-dark-torquose:#095953;
    --inc-torquose:#0DB1A5;
    --inc-dirty-green:#3B5249;
    --inc-dark-orange:#C75A1D;
    --inc-deep-blue:#004CED;
    --inc-light-gray:#E5E5E5;
    --inc-lighter-gray:#F5F5F5;
}
body {
    margin:0;
}
* {
    font-family:'Poppins';
    color:var(--inc-dark-torquose);
    box-sizing:border-box;
}
/* Arnold Start */

/* Arnold End */
/* Issac Start */

/* Issac End */
/* Jude Start */
a {
    cursor:pointer;
}
.index-bottom {
    z-index:0;
}
.index-top {
    z-index:99;
}
.center-abs-x {
    left:50%;
    transform:translateX(-50%);
}
.position-relative {
    position:relative;
}
.position-absolute {
    position:absolute;
}
.hero-container {
    padding-bottom:32px;
}
nav {
    margin-top:41px;
}
.hero #logo {
    margin-top:43px;
    display:inline-block;
}
.hero h1 {
    margin-top:96px;
}
.hero p {
    margin-top:27px;
    margin-bottom:0;
}
.hero .button {
    margin-top:59px;
}
/* Jude End */
/* King Start */
.impacting {
    padding-top:125px;
    padding-bottom:103px;
}
.impacting p.desc {
    margin-top:56px;
}
.impacting .excerpts {
    margin-top:56px;
}
.impacting .excerpts h3 {
    margin-top:32px;
}
.impacting .excerpts p {
    margin-top:24px;
}
/* King End */
/* Samuel Start */
.float-left {
    float:left !important;
}
.float-right {
    float:right !important;
}
.explore {
    padding-top:67px;
    padding-bottom:46px;
}
.explore .excerpt {
    margin-top:106px;
    margin-bottom:110px;
}
.explore .excerpt img {
    max-width:100%;
}
.explore .excerpt p, .explore .excerpt a.button{
    margin-top:26px;
}
/* Samuel End */
/* Chima Start */
.call-to-action {
    padding-top:104px;
    padding-bottom:75px;
}
.call-to-action a.button {
    margin-top:60px;
}
.foot a .h4 {
    display:inline-block;
    margin-bottom: 48px;
}
.foot p {
    margin-top:27px;
    margin-bottom:48px;
}
/* Chima End */
@media (min-width:768px) {
    .hero-image {
        max-width:100%;
    }
    /* Samuel Start */
    .explore .excerpt img {
        max-width:100%;
        margin:-40px;
    }
    .explore .excerpt img.float-left {
        margin-right:80px;
    }
    .explore .excerpt img.float-right {
        margin-left:80px;
    }
    /* Samuel End */
}
/* Dark-mode Start */

/* Dark-mode End */